.container {
  max-width: 1080px;
  margin: auto;
}
h1 {
  font: 62.5px/1.2 "Raleway";
}
h2 {
  font: 1.4em/1.2 "Raleway";
  margin: 15px 0 50px 0;
}
h3 {
  font: 1.3em/1.2 "Raleway";
  margin: 0 0 40px 0;
}
h6 {
  font: 700 17px "Raleway";
}
p {
  font: 1.1em/1.2 "Raleway";
}
span {
  font-size: 5em;
}
header {
  background: #fff url("img/header-bg.png") top/cover no-repeat;
  height: 140vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
}
.hamb {
  display: none;
  cursor: pointer;
  outline: none;
  font: 2em Arial;
  border: none;
  background: none;
  color: #fff;
  padding: 50px 0 0 0;
}
.navbar li {
  display: inline-block;
  margin: 0 10px;
}
.nav-item {
  font: 25px/1.2 "Raleway";
  color: #fff;
  font-weight: bold;
  transition: 0.4s;
}
.nav-item:hover {
  color: #aa15b6;
}
.title {
  text-align: right;
  color: #fff;
  padding: 50vh 0 0 0;
}

hr {
  display: inline-block;
  background-color: #fff;
  width: 160px;
  height: 7px;
  border: none;
}
.title button {
  border: none;
  outline: none;
  padding: 5px 30px;
  margin: 60px 0;
  cursor: pointer;
  &:hover {color: #aa15b6;}
}
.quotes {
  background-color: #000;
  padding: 100px 0 140px 0;
}
.txt {
  text-align: center;
  color: #fff;
  max-width: 70%;
  margin: auto;
}
.txt img {
  width: 55px;
  height: 55px;
}
#new {
  background-color: #aa15b6;
  padding: 100px 0;
}
#new .container {
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 25%;
  color: #fff;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0 0;
}
.col {
  background-color: #aa15b6;
  max-width: 30%;
  padding: 60px 70px;
  color: #fff;
}
.circle {
  display: flex;
  align-items: center;
  margin: 50px 0 0 0;
}
.circle img {
  width: 60px;
  height: 60px;
  margin: 0 20px 0 0;
}
.circle p {
  font-size: 0.9em;
}
.stars {
  height: 365px;
  background: #000 url("img/stars-bg.jpg") center/cover no-repeat;
}
#do {
  text-align: center;
  color: #fff;
  hr {
    margin: 50px 0 0 0;
  }
  ul li {
    display: inline-block;
    margin: 50px 5px;
    font-weight: 600;
    a {
      color: #fff;
    }
  }
  #flex-imgs {
    height: 360px;
    display: flex;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
.out {
  max-width: 70%;
  margin: auto;
}
#quote {
  padding: 50px 0 140px 0;
  text-align: center;
  color: #fff;
  h2 {
    font-size: 4em;
    margin: 0;
  }
  p:last-child {
    font-weight: 800;
    margin: 40px 0 0 0;
  }
}
#bg-star {
  height: 672px;
  background: #000 url("img/stars-bg2.jpg") no-repeat;
}
#numbers {
  max-height: 686px;
  color: #fff;
  margin: auto;
  padding: 100px 0;
  text-align: center;
  background: #000 url("img/num-bg.jpg") center/cover no-repeat;
  h2 {
    margin: 0 0 50px 0;
  }
  p {
    font: 0.7em/1.2 "Raleway";
  }

  .num-row {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
    .num-col {
      max-width: 20%;
      text-align: left;
      h5 {
        font: 600 19px "Raleway";
        &:first-of-type {
          padding: 25px 0 10px 0;
        }
      }
    }
  }
}

.flexes {
  background-color: #000;
  padding: 110px 0;
  color: #fff;
  .row_f {
    display: flex;
    align-items: center;
    .col_f {
      flex-basis: 50%;
    }
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .col_title {
    text-align: center;
    .f_wrap {
      width: 70%;
      margin: auto;
      h5 {
        font: 700 21px "Raleway";
        margin: 15px 0 45px 0;
      }
      p {
        font: 400 17px "Raleway";
      }
    }
  }
  .col_img img {
    width: 100%;
  }
}
.trips {
  background-color: #aa15b6;
  padding: 76px 0;
  color: #fff;
  .row_trip {
    display: flex;
    justify-content: center;
    align-items: center;
    .col_trip {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-basis: 33%;
      height: 73px;
      border-left: 7px solid #fff;
      padding: 0 0 0 22px;
      a {
        font: 700 14px "Raleway";
        color: #fff;
      }
    }
  }
}
.up {
  background-color: #000;
  padding: 45px 0;
  text-align: center;
  color: #fff;
  h2 {
    font: 700 60px "Railway";
    margin: 0;
  }
  p:last-child {
    font-weight: 800;
    margin: 40px 0 0 0;
  }
}
.icons {
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    background-color: #c7c5c7;
    color: #000;
    padding: 12px 0 0 0;
    margin: 35px 5px 0 5px;
    transition: ease 0.5s;
    &:hover {
      background-color: #000;
      color: #aa15b6;
    }
  }
}
.down {
  padding: 75px 0;
  background-color: #aa15b6;
  color: #fff;
  .container {
        display: flex;
        .left_f {
            flex-basis: 50%;
            padding: 0 15% 0 0;
            h4 {
                font: 700 25px/33px "Raleway";
                margin-bottom: 50px;
            }
            p {
                font: 400 19px/29px "Raleway";
            }
        }
    }
}
    .right_f {
      flex-basis: 50%;
      display: flex;
      justify-content: space-evenly;
      h4 {
        font: 700 21px/33px "Raleway";
        margin-bottom: 50px;
      }
      .nav_f {
        a {
          font: 600 17px/25px "Raleway";
          color: #fff;
        }
      }
    }
  




  @media only screen and (max-width: 768px) {
    header {
      background-position: right;
      height: 100vh;
    }
    h1 {
      font-size: 2.5em;
    }
    .navbar > div {
      text-align: center;
    }
    .navbar,
    .navbar li {
      display: block;
      margin: 10px 0;
      padding: 0;
    }
    .title {
      text-align: center;
      padding: 20vh 0 0 0;
    }
    .title p {
      font-size: 1em;
    }
    #new .container {
      flex-direction: column;
    }
    .row {
      flex-direction: column;
    }
    .col, .card {
      max-width: 70%;
      margin: 10px auto;
      padding: 30px;
    }
    #do {
      ul li {
        display: block;
        margin: 20px 0;
      }
    }
    #numbers .num-row {
      padding: 0;
      flex-direction: column;
      .num-col {
        max-width: 80%;
        margin: 30px auto;
        p {
          font: 0.9em/1.2 "Raleway";
        }
        h5:first-of-type {
          padding: 15px 0 5px 0;
        }
      }
    }
    .flexes {
      .row_f {
        display: inline-block;
        .col_f {
          padding: 10px;
        }
        .col_img {
          text-align: center;
          img {
            width: 70%;
          }
        }
      }
    }
    .trips {
      .row_trip {
        flex-direction: column;
        .col_trip {
          margin: 15px 0;
          flex-basis: 73px;
        }
      }
    }
    .foot_fl {
        flex-direction: column;
    }
    .down .container {
        .left_f {
            padding: 25px ;
        }
    }

}
